/*STRUCTURE*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 24px;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #100349;
}

.nav a:visited { text-decoration: none; color:#ffffff;}
.nav a:hover { text-decoration: none; color:#d9d9d9; background-color: #150462;}
.nav a:focus { text-decoration: none; color:#ffffff;}


.main_text{
	margin-left: 200px;
	margin-right: 250px;
}

#name{
	float:left;
	padding: 20px;
	border: none;
}


.intro{
	margin-top: 120px;
}

#first_intro{
	font-size: 80px;
	margin-bottom: 0px;
}

#second_intro{
	font-size: 60px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#dash{
	width: 150px;
	height: 5px;
	background-color: #7d12ff;
	border: none;
	margin-top: 20px;
}

#dash2{
	width: 150px;
	height: 5px;
	background-color: #7d12ff;
	border: none;
	margin-top: -22px;
	margin-bottom: 30px;
}

#third_intro{
	margin-top: 20px;
	font-size: 25px;
	margin-right: 300px;
}


#aboutAnchor{ /*So link-ref goes a bit above*/
	margin-top: -150px;
	padding-top: 150px;
}

#experienceAnchor{
	margin-top: -150px;
	padding-top: 150px;
}

#projectAnchor{
	margin-top: -80px;
	padding-top: 80px;
}

#contactAnchor{
	margin-top: -80px;
	padding-top: 190px;
}


.about{
	margin-top: 180px;
	margin-bottom: 400px;
}

.about h3{ /*"a little about me*/
	font-size: 35px;
}

.about p{
	margin-right: 400px;
	font-size: 17px;
}

.about ul{
	display:inline;
	float:left;
}

.experience{
	margin-bottom: 320px;
}

.expMargin{
	margin-bottom: 55px;
}

.expand{
	margin-bottom: 10px;
}

.expand h4{
	display: inline;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 18px;
}

.expand button{
	display:inline;
	margin-top: 10px;
}

#more_robotics{
	display:none;
}

#more_mhm{
	display:none;
}

#more_freelance{
	display:none;
}

.experience h3{ 
	font-size: 35px;
}

.my_projects h3{
	font-size: 35px;
}

.nameAndPrize h4{
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

.nameAndPrize p{
	float: left;
	margin-top: 10px;
}

.nameAndPrize h4{
	clear:both;
}

.myProject li{
	display:inline;
	float: left;
	padding: 10px; 
}

.clearThis{
	clear:both;
}

#all_projects{
	font-size: 27px;
	clear:both;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact h4{
	font-size: 35px;
	margin-bottom: 25px;
}

.contact button{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	font-size: 70px;
	margin-bottom: 270px;
}

.footer{
	text-align: center; 
	font: 10px;
}


/*SPECIFIC MODULE FOR CYBERPUNK STYLE*/
@font-face {
  font-family:"my-font";
  src: url("CIND.ttf") format("truetype");
}

body{
	background-color: #0b0231;
	color: #fbf8fd;
	font-family: "Lucida Grande";
}

#resume{
   	 background-color: #0b0231;
	 -webkit-text-stroke-width: 1px;
 	 -webkit-text-stroke-color: #fbf8fd;
 	 color: #fbf8fd;
 	 padding: 15px 32px;
 	 text-align: center;
 	 text-decoration: none;
 	 display: inline-block;
 	 font-size: 32px;
 	 margin: 15px 3px;
 	 cursor: pointer;
 	 -webkit-transition-duration: 0.4s; 
 	 transition-duration: 0.4s;
}

#resume:hover{
 	 box-shadow:  10px 10px #150349;
 	 color: white;
 	 -webkit-text-stroke-width: 1.5px;
 	 -webkit-text-stroke-color: #d081fd;
 	 border-color: #edcefd;
}

.neonStroke{
	 -webkit-text-stroke-width: 2px;
 	 -webkit-text-stroke-color: #d081fd;
}

 /* TODO: Make navigation bar fixed to top */

